<html>

    <body>
        <h1>Edit Menu Item</h1>

        <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id)}}" method="post">
            <p>Name: </p>
            <input type="text" size="30" name="name" placeholder="{{i.name}}"><br>
            <p>description: </p>
            <input type="text" size="30" name="description" placeholder="{{i.description}}"><br>
            <p>price: </p>
            <input type="number" min="0" name="price" placeholder="{{i.price}}"><br>
            <p>course: </p>
            <input type="text" size="30" name="course" placeholder="{{i.course}}"><br>

            <input type="submit" value="Save">
            <a href="{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}">Cancel</a>
        </form>

    </body>

</html>